<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NullPointersApp"
        tools:targetApi="31">

        <!-- Add this metadata tag -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"

            android:value="AIzaSyB20UWD5augVjyvAs2Q9olGBFvEpVunkX0"/>
<!--            MINE-->
<!--            android:value="AIzaSyAdDkGlkWBydlY59secOiSSPpSEz7cij_I"-->

        <!-- Splash Screen Activity as the launcher -->
        <activity
            android:name=".mainFragments.SplashFragment"
            android:exported="true"
            android:theme="@style/Theme.NullPointersApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Main Activity (After successful login) -->
        <activity android:name=".MainActivity" android:theme="@style/Theme.NullPointersApp"/>
        <receiver android:name="com.hamidat.nullpointersapp.utils.notificationUtils.FriendRequestActionReceiver" />
        <!-- test container for FragmentScenario -->
        <activity
            android:name="androidx.fragment.app.testing.EmptyFragmentActivity"
            android:exported="true"/>

    </application>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>